; EXAMPLE CONFIGURATION FILE
; COPY THIS FILE TO WHERE /opt/duoauthproxy/conf/ DOCKER VOLUME OR BIND MOUNT IS LOCATED FROM DOCKER_COMPOSE.YML
; FILE LOCATION IN CONTAINER /opt/duoauthproxy/conf/authproxy.cfg

; Complete documentation about the Duo Auth Proxy can be found here:
; https://duo.com/docs/authproxy_reference

; MAIN: Include this section to specify global configuration options.
; Reference: https://duo.com/docs/authproxy_reference#main-section

[main]

log_stdout=true
http_ca_certs_file=/etc/ssl/certs/ca-certificates.crt

; CLIENTS: Include one or more of the following configuration sections.
; To configure more than one client configuration of the same type, append a
; number to the section name (e.g. [ad_client2])

; CLIENT 1 - EXAMPLE

[ad_client]
host=CHANGE-THIS
host_2=CHANGE-THIS
service_account_username=CHANGE-THIS
service_account_password=CHANGE-THIS
search_dn=CHANGE-THIS
security_group_dn=CHANGE-THIS


; SERVERS: Include one or more of the following configuration sections.
; To configure more than one server configuration of the same type, append a
; number to the section name (e.g. radius_server_auto1, radius_server_auto2)

; SERVER 1 - EXAMPLE

[radius_server_challenge]
ikey=CHANGE-THIS
skey=CHANGE-THIS
api_host=CHANGE-THIS
radius_ip_1=CHANGE-THIS
radius_secret_1=CHANGE-THIS
failmode=safe
client=ad_client
port=1812
prompt_format=short

; SERVER 2 - EXAMPLE

[radius_server_auto]
ikey=CHANGE-THIS
skey=CHANGE-THIS
api_host=CHANGE-THIS
radius_ip_1=CHANGE-THIS
radius_secret_1=CHANGE-THIS
failmode=safe
client=ad_client
port=1813
